.ui-content h1 {
    color: #999999;
    text-align: center;
}
#parkingNumber {
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#parkingTime {
    font-size: 70px;
    text-align: center;
    margin: 40px 0px;
    padding: 0px;
}
#parkingDateTime {
    text-align: center;
}
.ui-icon-clock128:after {
    background-image: url("/images/clock128.png");
    background-color: transparent;
    background-size: contain;
}

a img {
    margin: 30px;
    width: 128px;
    height: 128px;
}

#parkInfo p {
    text-align: center;
}

#parkingTimeForInput {
    font-size: 40px;
    text-align: center;
    margin: 20px 0px;
}

#parkInfoSubmitButton {
    margin: 40px 0px;
}

#finishButton {
    margin: 40px 0px;
}
